<nav class="navbar top-nav-bar navbar-dark"><div>Gallery</div></nav>
<div class="container">
  <div class="upload-btn">
  <input #fileUpload type="file" accept="image/*" (change)="uploadFile($event)" style="display: none;" >
  <button class="upload-button" (click)="fileUpload.click()"><span></span>Upload</button>
</div>
  <!-- <img [src]="selectedImage" alt="dasdfasd"> -->
  <app-image-container></app-image-container>

</div>
<div class="card-footer text-muted navbar navbar-dark">
  <div>Full Stack Challenge 2020</div>
</div>
